{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>

<!-- Markdown Editor for New/Edit Ticket-->
<script src="{% static 'ticket/js/markdown_editor/inscrybmde.min.js' %}"></script>
<script src="{% static 'ticket/js/markdown_editor/marked.min.js' %}"></script>

<!-- Datepicker -->
<script type="text/javascript" src="{% static 'ticket/js/datepicker/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ticket/js/datepicker/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>

<!-- Recurrence Widget + Localization -->
<script type="text/javascript" src="{% url 'javascript-catalog' %}" ></script>
<script type="text/javascript" src="/static/recurrence/js/recurrence.js"></script>
<script type="text/javascript" src="/static/recurrence/js/recurrence-widget.js"></script>

<!-- collapse navigation sidebar menu if device size too small -->
<script type="text/javascript" src="{% static 'js/hideCollapse.js' %}"></script>
