{% load i18n %}
{% load injection_tags %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar">

    <!-- Sidebar Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{% url 'dashboard' %}">
        <div class="sidebar-brand-text mx-3">
            {% trans "Ticketsystem" %}
        </div>
    </a>
    <!-- End Sidebar Brand -->

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- End Divider -->

    <!-- Nav Item Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fas fa-fw fa-tachometer-alt">
            </i>
            <span>
                {% trans "Dashboard" %}
            </span>
        </a>
    </li>
    <!-- End Nav Item Dashboard -->

    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- End Divider -->


    <!-- Nav Item Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse"
           data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-folder">
            </i>
            <span>
                {% trans "Tickets" %}
            </span>
        </a>
        <div id="collapseTwo" class="collapse show"
             aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'my_tickets' %}">
                    {% trans "Meine Tickets" %}
                </a>
                <a class="collapse-item" href="{% url 'inbox_ticket' %}">
                    {% trans "Inbox" %}
                </a>
                <a class="collapse-item" href="{% url 'rejected_ticket' %}">
                    {% trans "Abgelehnte Tickets" %}
                </a>
                <a class="collapse-item" href="{% url 'search' %}">
                    {% trans "Alle Tickets" %}
                </a>
                <a class="collapse-item" href="{% url 'recurring_ticket' %}">
                    {% trans "Wiederkehrende Tickets" %}
                </a>

            </div>
        </div>
    </li>
    <!-- End Nav Item Pages Collapse Menu -->


    <!-- Nav Item Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse"
           data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-users">
            </i>
            <span>
                {% trans "Meine Gruppen" %}
            </span>
        </a>

        <div id="collapseUtilities" class="collapse show"
             aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'new_group'%}">
                    {% trans "Erstelle eine Gruppe" %}
                </a>
                {% with groups=request.user|groups %}
                {% if groups %}
                <hr>
                {% for g in groups %}
                <a class="collapse-item text-truncate"
                   href="/group/group/{{g.id}}/" title="{{ g.name }}"
                   style="max-width: 300px;">
                    {{g.name}}
                </a>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </li>
    <!-- End Nav Item Utilities Collapse Menu -->


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- End Divider -->

    <!-- Sidebar Toggler -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle">
        </button>
    </div>
    <!-- End Sidebar Toggler -->

</ul>
<!-- End of Sidebar -->
