{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}Settings{% endblock %}
{% load crispy_forms_tags %}


<!-- Settings -->
{% block body %}
<div class="card shadow mb-5">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            {% trans "Einstellungen" %}
        </h6>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'settings' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" title="Save">
                {% trans "Speichern" %}
            </button>
        </form>
    </div>
</div>
{% endblock body %}
<!-- End Settings -->
