
pyticket/db.sqlite3
*.pyc
.vscode/settings.json
pyticket/debug-email-messages/*
*.odt#
pyticket/.idea/workspace.xml
pyticket/.idea/vcs.xml
pyticket/.idea/pyticket.iml
pyticket/.idea/modules.xml
pyticket/.idea/misc.xml
pyticket/.idea/encodings.xml
pyticket/.idea/codeStyles/codeStyleConfig.xml
db.sqlite3