astroid==2.3.1
bleach==3.1.0
Click==7.0
coverage==4.5.4
crayons==0.2.0
Django==2.2.5
django-ajax-selects==1.7.1
django-appconf==1.0.3
django-auth-ldap==2.0.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-form==3.4
django-classy-tags==0.9.0
django-coverage==1.2.4
django-crispy-forms==1.7.2
django-filter==2.2.0
django-recurrence==1.10.1
djangorestframework==3.10.3
mistune==0.8.4
mysqlclient==1.4.4
python-coveralls==2.9.3
python-ldap==3.2.0
PyVirtualDisplay==0.2.4
selenium==3.141.0
