astroid==2.2.5
bleach==3.1.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
coverage==4.5.4
crayons==0.2.0
Django==2.2.5
django-ajax-selects==1.7.1
django-appconf==1.0.3
django-auth-ldap==2.0.0
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-form==3.4
django-classy-tags==0.9.0
django-coverage==1.2.4
django-crispy-forms==1.7.2
django-filter==2.2.0
django-recurrence==1.10.1
djangorestframework==3.10.3
EasyProcess==0.2.7
idna==2.8
lazy-object-proxy==1.4.2
mistune==0.8.4
mysqlclient==1.4.4
pyasn1==0.4.7
pyasn1-modules==0.2.6
python-coveralls==2.9.3
python-dateutil==2.8.0
python-ldap==3.2.0
pytz==2019.2
PyVirtualDisplay==0.2.4
PyYAML==5.1.2
requests==2.22.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
urllib3==1.25.4
webencodings==0.5.1
wrapt==1.11.2
