{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Neues Ticket" %}{% endblock %}
{% load crispy_forms_tags %}
{% load static %}


<!-- New Ticket -->
{% block body %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            {% trans "Neues Ticket" %}
        </h6>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'new_ticket' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <p>
                <a class="btn btn-outline-secondary" data-toggle="collapse"
                   href="#collapseRec" role="button" aria-expanded="false"
                   aria-controls="collapseRec"
                   title="{% trans "Öffnet ein JScript Widget zum Erstellen der Wiederholung." %}">
                    {% trans "Wiederholungen" %}
                </a>
            </p>
            <div class="collapse" id="collapseRec">
                <div class="card mb-5">
                    <textarea readonly="readonly" name="recurrences" cols="40"
                              rows="10" class="recurrence-widget"
                              id="id_recurrences">{{ recurrences }}</textarea>
                    <script type="text/javascript"
                            src="{% static 'ticket/js/recurrenceWidget.js' %}"
                            defer></script>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    title="{% trans "Erstelle das eingegebene Ticket." %}">
                {% trans "Ticket erstellen" %}
            </button>
        </form>
    </div>
</div>
<script type="text/javascript"
        src="{% static 'ticket/js/markdown_editor/init_editor.js' %}" defer>
</script>
{% endblock body %}
<!-- End New Ticket -->
